<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Local Notifications Testing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Local Notifications Testing</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="scheduleBasic()" expand="block" fill-="clear">
    Schedule Basic
  </ion-button>  
  <ion-button (click)="scheduleAdvanced()" expand="block" fill-="clear">
    Schedule Advanced
  </ion-button>  
</ion-content>
